<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Add Flight</title>
		<object th:include="fragments/fragment :: css" th:remove="tag"></object>
		<object th:include="fragments/fragment :: js" th:remove="tag"></object>
	</head>
	<body>
		<nav th:replace="fragments/fragment :: add-flight"></nav>
		
		<!--<h2>Welcome!</h2>
		<h3>Tambah Penerbangan</h3>
		<form th:action="@{/flight/add}" th:objects="${flight}" method="POST">
			<input type="hidden" th:field="${flight.pilot}" />
			Flight Number : <br>
			<input type="text" name="flightNumber" /><br>
			Origin: <br>
			<input type="text" name="origin" /> <br>
			Destination : <br>
			<input type="text" name="destination" /> <br>
			Time : <br>
			<input type="date" name="time" /> <br><br>
			<button type="submit">SUBMIT</button>
		</form> -->
		
		<div class="container-fluid">
        <br>
        <div class="row">
            <div class="col-md-8">
            	<form th:action="@{/flight/add/} + ${pilot.licenseNumber}" th:object="${pilot}" method="POST">
                	<input type="hidden" th:field="*{licenseNumber}" />
						<table>
                        	<thead>
	                            <tr>
	                           		<th style="text-align: center">Flight Number</th>
	                                <th style="text-align: center">Origin</th>
	                                <th style="text-align: center">Destination</th>
	                                <th style="text-align: center">Time</th>
	                                <th style="text-align: center">
	                                	<button type="submit" name="addFlight" >Add Flight</button>
	                                </th>
								</tr>
                            </thead>
                            <tbody>
                            	<tr th:each="flight,itemStat : *{pilotFlight}">
                                	<td>
                                    	<input type="text" th:field="*{pilotFlight[__${itemStat.index}__].flightNumber}">
                                    </td>
                                    <td>
                                    	<input type="text" th:field="*{pilotFlight[__${itemStat.index}__].origin}">
                                    </td>
                                    <td>
                                    	<input type="text" th:field="*{pilotFlight[__${itemStat.index}__].destination}">
                                    </td>
                                    <td>
                                    	<input type="date" th:name="pilotFlight[__${itemStat.index}__].time">
                                    </td>
								</tr>
							</tbody>
						</table>
                        <br>
                        <button type="submit" name="save" >Submit</button>
					</form>
				</div>
			</div>
		</div>
	</body>
</html>