<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Update Pilot</title>
		<object th:include="fragments/fragment :: css" th:remove="tag"></object>
		<object th:include="fragments/fragment :: js" th:remove="tag"></object>
	</head>
	<body>
		<nav th:replace="fragments/fragment :: update-pilot"></nav>
	
		<h2>W E L C O M E !</h2>
		<h3>Update Pilot</h3>
		<form th:action="@{/pilot/update}" th:objects="${pilot}" method="POST">
			<input th:value="${pilot.id}" hidden="true" name="id" >
			License Number : <br> <input type="number" name="licenseNumber" th:value="${pilot.licenseNumber}" readonly="readonly"/><br>
			Name: <br> <input type="text" name="name" th:value="${pilot.name}" /> <br>	<br>
			Fly Hour: <br> <input type="number" name="flyHour" th:value="${pilot.flyhour}" /> <br><br>
			<button type="submit">SUBMIT</button>
		</form>
	</body>
</html>